<html>
    <head>
        <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    </head>
    <body> 
        <nav class="navbar navbar-expand-md navbar-light bg-light"> 
            <div class="container-fluid">
                <div class="navbar-header">
                      <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
                       
                </div>
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item "><a class=" nav-link " href="{% url 'djangoapp:about' %}"> About Us</a></li>
                    <li class="nav-item "><a class=" nav-link " href="{% url 'djangoapp:contact' %}"> Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
            
                    {% if user.is_authenticated %}
                    <li>
                        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                   </li>
                   {% else %}
                   <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                           {% csrf_token %}
                           <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username" >
                                <input type="password" class="form-control" placeholder="Password" name="password" >
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a class="btn btn-link" href="{% url 'djangoapp:register' %}">Sign Up</a>
                           </div>
                        </form>
                   </li>
                   {% endif %}
               </ul>
        </nav>
        <h1 class="text-blue font-weight-bold text-wrap text-center">
            Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
        </h1>
        <br>
        <p class="text-info font-weight-bold text-center">
            Our dealership boasts an extensive and diverse inventory of the finest vehicles on the market. Whether you're in the market for a sleek and stylish sedan, a rugged and powerful SUV, a luxurious and sophisticated coupe, or any other type of vehicle, we have something to suit every taste and preference. Our team of knowledgeable and friendly sales professionals is here to assist you in finding the perfect vehicle that aligns with your lifestyle and budget.

            What sets Best Cars apart from the rest is our unwavering commitment to excellence. We pride ourselves on offering only the highest quality vehicles that undergo rigorous inspections and testing to ensure reliability and safety. When you purchase a car from us, you can have complete peace of mind knowing that you're driving home a dependable and well-maintained vehicle.
        </p>
    </body>

</html>